---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Section5 from '../components/Section5.astro';
import Sektion4 from '../components/Sektion4.astro';
import Section1 from '../components/Section1.astro';
import Formular from '../components/Formular.astro';
---
<MainLayout title="Astro, Tailwind, Alpine, Motion One og Animate CSS Starter">

			<Button variant="primary" size="large" >REGISTRER</Button>
			<Button variant="secondary" size="small">GEM DATOEN</Button>


	<Section5></Section5>
</MainLayout>
<style>
img {
  width: 100%;
}
</style>