---
---

<div class="bg-neutral-900">
    <section class=" pl-4  lg:grid lg:grid-cols-2 pt-36  text-neutral-300 lg:pl-12"> 
        <div> 
        <div class=" ">
            <h3 class="text-2xl md:text-3xl text-green-200 font-bold">Digital Cleanup Day </h3>
            <p class="text-sm md:text-base pt-4v font-semibold">Sammen kan vi gøre en forskel! Deltag i Digital Cleanup Day og vær med til at rydde op i vores digitale verden. Lad os skabe en mere bæredygtig og organiseret online tilværelse. #DigitalCleanupDay</p>
        </div>
        <div class=" pb-16 pt-8">
            <div class="pt-6 pb-10 md:py-10">
                <p class="text-2xl font-semibold">Kontakt</p>
                <p class="text-sm md:text-base font-semibold">Email@email.com</p>
            </div>
            <div>
                <p class="text-2xl font-semibold">Telefon</p>
                <p class="text-sm md:text-base font-semibold">+45 12 34 56 78</p>
            </div>
        </div>
        </div>
        <div class="flex-col"> 
            <div id="logo" class="flex bg-[url('/footer_ikoner/logo.svg')] hover:bg-[url('/footer_ikoner/logo_hover.svg')] bg-cover w-[6.5rem] h-[7.2rem] lg:w-[14.5rem] lg:h-[16rem] lg:mx-auto transition duration-500 hover:opacity-95 md:mt-10">
                <a href="#top"></a>
            </div>
            <div class="ikon-wrapper flex pt-6 gap-2 lg:gap-6 lg:pl-8 lg:mx-4 lg:justify-center lg:pt-6">
                <img src="/footer_ikoner/facebook_ikon.svg" alt=""> <!-- Facebook -->
                <img src="/footer_ikoner/instagram_ikon.svg" alt=""> <!-- Instagram -->
                <img src="/footer_ikoner/twitter_ikon.svg" alt=""> <!-- X -->
                <img src="/footer_ikoner/youtube_ikon.svg" alt=""> <!-- Youtube -->

            </div>
        </div>
    </section>
    <section class="text-center text-neutral-300 font-semibold pt-20 pb-10">
        <p>copyright 2024</p>
    </section>
</div>


<style>

    .pixel{
margin-top: -100px;
    }
</style>