---
---
<div class="bg-neutral-900">
    <section class=" pl-4  lg:grid lg:grid-cols-2  text-neutral-300 font-bold pt-10 lg:pl-12"> 
        <div> 
        <div class=" pb-4 ">
            <h3 class="text-3xl text-green-200">Digital Cleanup Day </h3>
            <p>Sammen kan vi gøre en forskel! Deltag i Digital Cleanup Day og vær med til at rydde op i vores digitale verden. Lad os skabe en mere bæredygtig og organiseret online tilværelse. #DigitalCleanupDay</p>
        </div>
        <div class=" pb-8">
            <p class="text-2xl">Kontakt</p>
            <p>Email@email.com</p>
            <p class="text-2xl">Telefon</p>
            <p>+45 12 34 56 78</p>
        </div>
        </div>
        <div class="flex-col"> 
            <div id="logo" class="flex bg-[url('/footer_ikoner/logo.svg')] hover:bg-[url('/footer_ikoner/logo_hover.svg')] bg-cover w-[6.5rem] h-[7.2rem] lg:w-[14.5rem] lg:h-[16rem] lg:mx-auto transition duration-500 hover:opacity-95">
                <a href="#top"></a>
            </div>
            <div class="ikon-wrapper flex pt-6 gap-2 lg:gap-6 lg:pl-8 lg:mx-4 lg:justify-center lg:pt-6">
                <img src="/footer_ikoner/facebook_ikon.svg" alt=""> <!-- Facebook -->
                <img src="/footer_ikoner/instagram_ikon.svg" alt=""> <!-- Instagram -->
                <img src="/footer_ikoner/twitter_ikon.svg" alt=""> <!-- X -->
                <img src="/footer_ikoner/youtube_ikon.svg" alt=""> <!-- Youtube -->

            </div>
        </div>
    </section>
    <section class="text-center text-neutral-300  font-bold pt-20 pb-10">
        <p>copyright 2024</p>
    </section>
</div>


<div class=""> </div>
