---
import Button from '../components/Button.astro';
---
<section id="hero_unit" class="text-neutral-100 p-14 sm:p-28 md:p-32 lg:p-36 xl:p-40 bg-neutral-800">
    <article class="font-['Trebuchet_MS'] mb-52">
        <h1 class="text-5xl sm:text-6xl md:text-7xl xl:text-8xl font-black">DIGITAL</h1>
        <h1 class="text-5xl sm:text-6xl md:text-7xl xl:text-8xl font-black leading-normal mb-3 xl:mb-6">SKRALDEDAG</h1>
        <h2 class="text-xl lg:text-2xl font-medium leading-normal mb-8 lg:mb-10">16. marts 2024</h2>
        <Button>GEM DATOEN</Button>
    </article>
    <article class="px-10 sm:px-20 md:px-32 lg:px-40 xl:px-52 text-center">
        <h2 class="font-['Trebuchet_MS'] font-bold text-xl lg:text-2xl leading-normal mb-4 lg:mb-5">Hvad er digitalt affald?</h2>
        <p class="font-sans font-semibold leading-normal text-xs xl:text-base lg:px-28">I den digitale verden er der, ligesom i miljøet, en enorm mængde affald. Ifølge nogle beretninger står internetforbrug for 3,7% af de globale emissioner, hvilket svarer til al luftfart i verden - og dette tal forventes at fordoble sig inden 2025.</p>
    </article>
</section>