---
import Button from '../components/Button.astro';
---
<section id="hero_unit" class="p-14 sm:p-28 md:p-32 lg:p-36 xl:p-40 ">
    <article class="font-['Trebuchet_MS']">
        <h1 class="text-5xl sm:text-6xl md:text-7xl xl:text-8xl font-black leading-normal mb-3 xl:mb-6 DfadeIn duration-500">DIGITAL <br> SKRALDEDAG</h1>
        <h2 class="text-xl lg:text-2xl font-medium leading-normal mb-8 lg:mb-10">16. marts 2024</h2>
        <Button variant="secondary" size="large" >Gem Datoen</Button>
    </article>
</section>


<script>
	import { inView } from "motion";

 
    //fadeIn
    const dfadein = document.querySelector(".DfadeIn");

    inView(dfadein, () => {

	    dfadein.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1s");

    }); 

    const sfadein = document.querySelector(".SfadeIn");

    inView(sfadein, () => {

	    sfadein.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1s");

    }); 
</script>