---
import Button from '../components/Button.astro';
---
<section id="hero_unit" class="text-neutral-100 p-14 sm:p-28 md:p-32 lg:p-36 xl:p-40 bg-neutral-800">
    <article class="font-['Trebuchet_MS']">
        <h1 class="text-5xl sm:text-6xl md:text-7xl xl:text-8xl font-black">DIGITAL</h1>
        <h1 class="text-5xl sm:text-6xl md:text-7xl xl:text-8xl font-black leading-normal mb-3 xl:mb-6">SKRALDEDAG</h1>
        <h2 class="text-xl lg:text-2xl font-medium leading-normal mb-8 lg:mb-10">16. marts 2024</h2>
        <Button>GEM DATOEN</Button>
    </article>
</section>