---
---

<article class="pb-48" >
    <div class="mx-auto text-center">
        <img class="mx-auto" src="/pixel_ikoner/skraldespand.png" alt="">
        <h2 class="text-2xl font-['Trebuchet_MS'] font-bold py-4">Hvad er digital affald?</h2>
        <p class="lg:max-w-lg mx-auto font-sans text-base px-8">I den digitale verden er der, ligesom i miljøet, en enorm mængde affald. Ifølge nogle beretninger står internetforbrug for 3,7% af de globale emissioner, hvilket svarer til alt luftfart i verden. Og dette tal forventes at fordoble sig inden 20925.</p>
    </div>
</article>