---
---

<article >
    <div class="mx-auto text-center">
        <img src="" alt="">
        <h2>Hvad er digital afflad?</h2>
        <p class="lg:max-w-lg mx-auto">I den digitale verden er der, ligesom i miljøet, en enorm mængde affald. Ifølge nogle beretninger står internetforbrug for 3,7% af de globale emissioner, hvilket svarer til alt luftfart i verden. Og dette tal forventes at fordoble sig inden 20925.</p>
    </div>
</article>