---
---
<section id="hero_unit" class="p-14 sm:p-28 md:p-32 lg:p-36 xl:p-40 bg-neutral-800">
    <article class="pb-56">
        <h1 class="font-['Trebuchet_MS'] text-5xl sm:text-6xl md:text-7xl xl:text-8xl font-black text-neutral-100">DIGITAL</h1>
        <h1 class="font-['Trebuchet_MS'] text-5xl sm:text-6xl md:text-7xl xl:text-8xl font-black leading-normal text-neutral-100 pb-3 xl:pb-5">SKRALDEDAG</h1>
        <h2 class="font-['Trebuchet_MS'] text-xl lg:text-2xl font-medium leading-normal text-neutral-100 pb-7">16. marts 2024</h2>
    </article>
    <article class="px-10 sm:px-20 md:px-32 lg:px-40 xl:px-52 pb-24 text-center text-neutral-100">
        <h2 class="font-['Trebuchet_MS'] font-bold text-xl lg:text-2xl leading-normal pb-4">Hvad er digitalt affald?</h2>
        <p class="font-sans font-semibold leading-normal text-xs xl:text-base lg:px-28">I den digitale verden er der, ligesom i miljøet, en enorm mængde affald. Ifølge nogle beretninger står internetforbrug for 3,7% af de globale emissioner, hvilket svarer til al luftfart i verden - og dette tal forventes at fordoble sig inden 2025.</p>
    </article>
</section>