---
---

<article class=" mx-48">
    <h2 class="text-center">How to - Fjerne digital skrald</h2>
    <div class="wrapper lg:flex justify-center gap-40 py-8">
        <div>
            <h4>1. Ryd op i dine mails</h4>
            <img class="py-8" src="/sektion_4_img/slet-email.svg" alt="">
            <p class="w-96">Filtrer e-mails efter den ældste, og arkiver dem. UNSUBSCRIBE nyhedsbreve, du ikke læser. Vælg lange samtaler, vælg den nyeste og SLET alt andet.</p>
            <p class="w-96 pt-4">Søg efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndteredem som masse.</p>
        </div>
        <div class=" lg:pl-40">
            <h4>2. Ryd op på computeren</h4>
            <img class="py-8" src="/sektion_4_img/slet-pc.svg" alt="">
            <p class="w-96">Slet filer eller billeder på din pc, der er dubletter eller er blevet ubrugelige. Gå videoerne igennem og slet sete eller unødvendige filer. Arkiver de vigtige filer.</p>
        </div>
    </div>
    <div class="lg:flex justify-center gap-40 "> 
        <div>
            <h4>3. Ryd op på mobilen</h4>
            <img class="py-8" src="/sektion_4_img/slet-mobil.svg" alt="">
            <p class="w-96">Fjern alle programmer, som du ikke har brugt i et stykke tid eller kun brugt få gange. Dette inkluderede også alle de unødvendigt glemte gamle apps og spil på din telefon, som de gamle e-mails og videoer og billeder.</p>
            <p class="w-96 pt-4">De bruger energi, selv når de ikke er i brug, og kan forbruge månedlige hundredvis af megadata til opdateringer. Du vil fremskynde din telefon og øge batteritiden.</p>
        </div>
        <div class=" lg:pl-40">
            <h4>4. Lav nye systemer</h4>
            <img class="py-8" src="/sektion_4_img/lav-systemer.svg" alt="">
            <p class="w-96">Brug flere samarbejdspladser i stedet for at sende e-mails. Gem de vigtige filer i en sky ét sted, så der ikke er behov for at opbevare den samme fil på alle computere.</p>
            <p class="w-96 pt-4">Små ændringer i dine internetvaner, såsom at slukke for video under et virtuelt møde, reducere kvaliteten af ​​streamingtjenester, reducere spilletid , begrænsning af tid på sociale medier og afmelding af nyhedsbreve og e-mail-lister kan reducere dit miljømæssige fodaftryk markant!</p>
        </div>
    </div>
</article>